<div class="card border-info mb-3">
  <div class="card-body">
    <h4 class="card-title">Administrador</h4>
      <a class="btn btn-outline-primary {crear_activo}" href="?view=foro&foro=pagina_agregar">Crear Foros</a>
      <a class="btn btn-outline-primary" href="?view=categoria&categoria=pagina_todas">Gestionar categorias</a>
      <a class="btn btn-outline-primary {todas_activo}" href="?view=foro&foro=pagina_todas">Gestionar foros</a>
  </div>
</div>
{contenido}
