<h1>Responder "{TITULO}"</h1>
<div class="row">
<form action="index.php?view=tema&mode=editar_respuesta&id_foro={ID_FORO}&id_tema={ID_TEMA}&id_respuesta={ID_RESPUESTA}" id="form_responder_tema" method="post" onsubmit="return false" class="col-lg-9">
  <div class="form-group col-lg-12">
    <label class="col-form-label" for="contenido_responder_tema">
      Editar respuesta
    </label>
    <textarea  name="contenido" class="form-control" id="contenido_responder_tema" pattern=".{270,}"  rows="10" placeholder="Respuesta">{CONTENIDO}</textarea>
    <div id="contenido_responder_tema_div_alert">
    </div>
  </div>
  <div class="derecha">
    <button type="button" class="btn btn-outline-success" id="iniciar_responder_tema">
      Responder
    </button>
  </div>
</form>
<!-- BBCODE PARA EL CONTENIDO -->
<div class="card text-white bg-secondary col-lg-3" style="max-width: 20rem;">
  <div class="card-header">
    <h4 class="card-title">BBCode</h4>
  </div>
  <div class="card-body">
    <ul class="no_style_list">
      <li>[b]Negrita[/b]</li>
      <li>[i]Italic[/i]</li>
      <li>[u]Subrayado[/u]</li>
      <li>[s]Tachado[/s]</li>
      <li>[img]URL image[/img]</li>
      <li>[center]Centrar[/center]</li>
      <li>[h1]Titulo gigante[/h1]</li>
      <li>[h2]Titulo medianamete grande[/h2]</li>
      <li>[h3]Titulo mediano[/h3]</li>
      <li>[h4]Titulo normal[/h4]</li>
      <li>[h5]Titulo pequeño[/h5]</li>
      <li>[h6]Titulo muy pequeño[/h6]</li>
      <li>[quote]Cita[/quote]</li>
      <li>[size=20]Texto en 20px[/size]</li>
      <li>[url=URL LINK]Texto a hacer clic[/url]</li>
      <li>[font=Arial]Texto en arial[/font]</li>
      <li>[bgimage=URL IMAGEN]Texto donde habrá imagen de fondo[/bgimage]</li>
      <li>[color=red]Color Rojo[/color]</li>
      <li>[bgcolor=red]Color de fondo Rojo[/bgcolor]</li>
    </ul>
  </div>
</div>
<script type="text/javascript" src="view/js/tema/responder_tema.js">
</script>
