<h1>{TITULO}</h1>
<div class="row">
  <div class="card col-lg-3 bot_padd_15">
    <div class="card">
      <img style="height: 100%; width: 100%; display: block;" src="{IMAGEN}" alt="Card image">
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Nombre: {USER}</li>
      <li class="list-group-item">Online:
         <img style="height: 24px; width: 24px; " src="{IMAGEN_ONLINE}" alt="Card image">
       </li>
      <li class="list-group-item">Tipo: {TIPO}</li>
      <li class="list-group-item">Rango: {RANGO}</li>
    </ul>
  </div>
  <div class="row col-lg-9">
    <div class="card col-lg-12">
      <div class="card-body">
        <h4 class="card-title"></h4>
        <p class="card-text">{CONTENIDO}</p>
      </div>
      <div class="card-footer">
        {FIRMA}
      </div>
    </div>
  </div>
</div>
<div class="row">
  <input type="hidden" id = "id_tema" value="{ID_TEMA}">
  <div class="col-lg-12 top_bot_mar_15">
    <h1>Respuestas</h1>
  </div>
</div>

{RESPUESTAS}
<script type="text/javascript" src="view/js/tema/borrar_tema.js">
</script>
<script type="text/javascript" src="view/js/tema/borrar_respuesta.js">
</script>
