<h1>Editar perfil</h1>
<h2>{USER}</h2>
<div class="row col-lg-12">
  <div class="row col-lg-9">
    <form class="col-lg-12" action="?view=perfil&mode=editar_perfil" id="form_editar_perfil" method="POST" onsubmit="return false">
      <div class="form-group col-lg-9">
        <label class="col-form-label" for="editar_imagen">
          Imagen
        </label>
        <input type="file" class="form-control-file" id="editar_imagen" name="imagen" aria-describedby="editar_imagen_help">
        <small id="editar_imagen_help" class="form-text text-muted">Por favor la imagen no debe pesar mas de 10mb</small>
        <div id="editar_imagen_div_alert">
        </div>
      </div>
      <div class="form-group col-lg-9">
        <label class="col-form-label" for="editar_edad">
          Edad
        </label>
        <input type="number" placeholder="edad" id="editar_edad" name="edad">
        <div id="editar_edad_div_alert">
        </div>
      </div>
      <div class="form-group col-lg-9">
        <label class="col-form-label" for="biografia_editar">
          Biografia
        </label>
        <textarea class="form-control" id="biografia_editar" name = "biografia" rows="3" placeholder="Biografia">{BIOGRAFIA}</textarea>
        <div id="editar_biografia_div_alert">
        </div>
      </div>
      <div class="form-group col-lg-9">
        <label class="col-form-label" for="editar_firma">
          Firma
        </label>
        <textarea class="form-control" id="editar_firma" name = "firma" rows="3" placeholder="Firma">{FIRMA}</textarea>
        <div id="editar_firma_div_alert">
        </div>
      </div>
      <div class="">
        <button type="button" class="btn btn-outline-success" id="iniciar_editar_perfil">
          Aceptar
        </button>
      </div>
    </form>
  </div>
  <!-- BBCODE PARA EL CONTENIDO -->
  <div class="card text-white bg-secondary col-lg-3">
    <div class="card-header">
      <h4 class="card-title">BBCode</h4>
    </div>
    <div class="card-body">
      <ul class="no_style_list">
        <li>[b]Negrita[/b]</li>
        <li>[i]Italic[/i]</li>
        <li>[u]Subrayado[/u]</li>
        <li>[s]Tachado[/s]</li>
        <li>[img]URL image[/img]</li>
        <li>[center]Centrar[/center]</li>
        <li>[h1]Titulo gigante[/h1]</li>
        <li>[h2]Titulo medianamete grande[/h2]</li>
        <li>[h3]Titulo mediano[/h3]</li>
        <li>[h4]Titulo normal[/h4]</li>
        <li>[h5]Titulo pequeño[/h5]</li>
        <li>[h6]Titulo muy pequeño[/h6]</li>
        <li>[quote]Cita[/quote]</li>
        <li>[size=20]Texto en 20px[/size]</li>
        <li>[url=URL LINK]Texto a hacer clic[/url]</li>
        <li>[font=Arial]Texto en arial[/font]</li>
        <li>[bgimage=URL IMAGEN]Texto donde habrá imagen de fondo[/bgimage]</li>
        <li>[color=red]Color Rojo[/color]</li>
        <li>[bgcolor=red]Color de fondo Rojo[/bgcolor]</li>
      </ul>
    </div>
  </div>
</div>
