<div class="row">
  <div class="card col-lg-4 bot_padd_15">
    <h3 class="card-header">Perfil de {USER}</h3>
    <div class="card">
      <img style="height: 100%; width: 100%; display: block;" src="{IMAGEN}" alt="Card image">
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Nombre: {USER}</li>
      <li class="list-group-item">Online:
         <img style="height: 24px; width: 24px; " src="{IMAGEN_ONLINE}" alt="Card image">
       </li>
      <li class="list-group-item">Tipo: {TIPO}</li>
      <li class="list-group-item">Rango: {RANGO}</li>
      <li class="list-group-item">Temas creados: {CANTIDAD_TEMA}</li>
      <li class="list-group-item">Mensajes posteados: {CANTIDAD_MENSAJE}</li>
      <li class="list-group-item">Edad: {EDAD}</li>
      <li class="list-group-item">Fecha registro: {FECHA_REGISTRO}</li>
    </ul>
  </div>
  <div class="row col-lg-8">
    <div class="card col-lg-12">
      <div class="card-body">
        <h4 class="card-title">Biografia</h4>
        <p class="card-text">{BIOGRAFIA}</p>
      </div>
    </div>
    <div class="card col-lg-12">
      <div class="card-body">
        <h4 class="card-title">Firma</h4>
        <p class="card-text">{FIRMA}</p>
      </div>
    </div>
  </div>
</div>
