.sin_subrayado{
  text-decoration: none;
}
.text_center{
  text-align: center;
}
.top_mar_15{
  margin-top: 15px; !important
}
.bot_padd_15{
  padding-bottom: 15px; !important
}
.top_bot_mar_15{
  margin-top: 15px;
  margin-bottom: 15px;
}
.derecha{
  float: right; !important
}
.titulo{
  color: #FDA403;
}
.mija_home{
  padding: 6px 0px 0px 26px;
  background: url(../img/home_mija.png) no-repeat left center;
}
.foro_abierto{
  padding: 6px 0px 0px 26px;
  background: url(../img/foro_abierto.png) no-repeat left center;
  width: 64px;
  height: 64px;
}
.foro_cerrado{
  padding: 6px 0px 0px 26px;
  background: url(../img/foro_cerrado.png) no-repeat left center;
  width: 64px;
  height: 64px;
}
.border_bot{
  border-bottom: 2px solid; !important
}
.border_blanco{
  border-bottom: white 2px solid; !important
}
