<div class="alert alert-dismissible alert-danger">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>{TITULO}</strong><br>
  {CONTENIDO}<br>
  <a class="alert-link" href="#" data-toggle="modal" data-target="#{MODAL}">
    {CONTENIDO_MODAL}
  </a>
</div>
