{CONTENIDO}
<h1>Agregar foros</h1>
<form action="?view=foro&foro=pagina_agregar" id="form_agregar_foro" method="POST" onsubmit="return false">
  <div class="form-group col-sm-6">
    <label class="col-form-label" for="foro_agregar_foro">
      Foro
    </label>
    <input type="text" class="form-control" id="foro_agregar_foro" name = "foro" autofocus placeholder="Nuevo foro">
    <div id="foro_agregar_foro_div_alert">
    </div>
  </div>
  <div class="form-group col-sm-6">
    <label class="col-form-label" for="descripcion_agregar_foro">
      Descripcion
    </label>
    <textarea class="form-control" id="descripcion_agregar_foro" name = "descripcion" rows="3" placeholder="Descripcion"></textarea>
    <div id="descripcion_agregar_foro_div_alert">
    </div>
  </div>
  <div class="form-group col-sm-6">
    <select class="custom-select" id="categoria_agregar_foro" name = "categoria">
      {OPTION}
    </select>
    <div id="categoria_agregar_foro_div_alert">
    </div>
  </div>
  <fieldset class="form-group">
    <legend>
      Estado
    </legend>
    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="estado_foro" value="1" checked="">
        Activo
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="estado_foro" value="0">
        Cerrado
      </label>
    </div>
    <div class="">
      <button type="button" class="btn btn-outline-success" id="iniciar_agregar_foro">
        Aceptar
      </button>
    </div>
  </fieldset>
</form>
<script type="text/javascript" src="view/js/foro/agregar_foro.js">
</script>
