<h1>Editar foro</h1>
<form action="?view=foro&foro=pagina_editar&id_foro={ID_FORO}" id="form_editar_foro" method="POST" onsubmit="return false">
  <div class="form-group col-sm-6">
    <label class="col-form-label" for="foro_editar_foro">
      Foro
    </label>
    <input type="text" class="form-control" id="foro_editar_foro" name = "foro" autofocus placeholder="Foro" value="{FORO}">
    <div id="foro_editar_foro_div_alert">
    </div>
  </div>
  <div class="form-group col-sm-6">
    <label class="col-form-label" for="descripcion_editar_foro">
      Descripcion
    </label>
    <textarea class="form-control" id="descripcion_editar_foro" name = "descripcion" rows="3" placeholder="Descripcion">{DESCRIPCION}</textarea>
    <div id="descripcion_editar_foro_div_alert">
    </div>
  </div>
  <div class="form-group col-sm-6">
    <select class="custom-select" id="categoria_editar_foro" name = "categoria">
      {OPTION}
    </select>
    <div id="categoria_editar_foro_div_alert">
    </div>
  </div>
  <fieldset class="form-group">
    <legend>
      Estado
    </legend>
    {ESTADO}
    <div class="">
      <button type="button" class="btn btn-outline-success" id="iniciar_editar_foro">
        Aceptar
      </button>
    </div>
</form>
<script type="text/javascript" src="view/js/foro/editar_foro.js">
</script>
