<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="?view=index">Super Foro</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse " id="navbarColor01">
    <ul class="navbar-nav mr-auto">
    </ul>
    <ul class="navbar-nav derecha">
      <li class="nav-item">
        <a class="nav-link" href="?view=index">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-outline-warning" href="?view=perfil&id_user={ID_USER}" >{NOMBRE_USER}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-outline-info" href="?view=loggout">Salir</a>
      </li>
    </ul>
  </div>
</nav>
{MIJAS}
{BOTON}
