<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="?view=index">Super Foro</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse " id="navbarColor01">
    <ul class="navbar-nav mr-auto">
    </ul>
    <ul class="navbar-nav derecha">
      <li class="nav-item">
        <a class="nav-link" href="?view=index">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-outline-danger" href="#" data-toggle="modal" data-target="#modal_login">Iniciar sesion</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-outline-warning" href="#" data-toggle="modal" data-target="#modal_registro">Registrate</a>
      </li>
    </ul>
  </div>
</nav>
{MODAL_LOGIN}
{MODAL_REGISTRO}
{MODAL_RECUPERAR_PASSWORD}
{MIJAS}
{BOTON}
