<div class="card border-success">
  <div class="card-header">{TITULO}</div>
  <div class="card-body">
    <h4 class="card-title">{SUBTITULO}</h4>
    <p class="card-text">{CONTENIDO}</p>
  </div>
</div>
