<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="?view=index">Super Foro</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse " id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="?view=index">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="?view=perfil&id={ID_USER}" >{NOMBRE_USER}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-outline-info" href="?view=loggout">Salir</a>
      </li>
    </ul>
  </div>
</nav>
{MIJAS}
<div class="card border-info mb-3">
  <div class="card-body">
    <h4 class="card-title">
      Administrador
    </h4>
    <a class="btn btn-outline-primary active" href="?view=categoria&categoria=pagina_agregar">
      Crear categorias
    </a>
    <a class="btn btn-outline-primary" href="?view=categoria&categoria=pagina_todas">
      Gestionar categorias
    </a>
    <a class="btn btn-outline-primary" href="?view=foro&foro=pagina_todas">
      Gestionar foros
    </a>
  </div>
</div>
