
<!-- Modal -->
<div id="modal_login" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div id = "alert_login">

      </div>
      <form action="#" id = "form_login">
        <div class="modal-header">
          <legend>Login</legend>
          <div class="">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

        </div>
        <div class="modal-body">
            <div class="form-group" >
              <label for="user">Usuario:</label>
              <input type="text" class="form-control" id="user_login" autofocus>
              <div id="user_login_div_alert">
              </div>
            </div>
            <div class="form-group" >
              <label for="password">Contraseña:</label>
              <input type="password" class="form-control" id="password_login">
              <div id="password_login_div_alert">
              </div>
            </div>
            <div class="form-group">
              <div class="custom-control custom-checkbox">
                <input class="custom-control-input" id = "sesion_login" type="checkbox">
                <label class="custom-control-label" for="sesion_login">
                  Recordarme
                </label>
              </div>
            </div>
            <div class="form-group">
              <a href="#" class = "text-info" data-toggle="modal" data-target="#modal_recuperar_password">
                Recuperar contraseña
              </a>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-outline-success" id = "iniciar_sesion_login" >Iniciar Sesion</button>
        </div>
      </form>
    </div>

  </div>
</div>
<script type="text/javascript" src="view/js/login/login.js">
</script>
