<!-- Modal -->
<div id="modal_recuperar_password" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div id = "alert_recuperar_password">

      </div>
      <form action="#" id = "form_recuperar_password">
        <div class="modal-header">
          <legend>Recuperar contraseña</legend>
          <div class="">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
        </div>
        <div class="modal-body">
            <div class="form-group">
              <label for="email_recuperar_password">Email:</label>
              <input type="text" class="form-control" id="email_recuperar_password" autofocus>
              <div id="email_recuperar_password_div_alert">
              </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-outline-success" id = "iniciar_recuperar_password" >Recuperar</button>
        </div>
      </form>

    </div>

  </div>
</div>
<script type="text/javascript" src="view/js/recuperar_pass/recuperar_password.js">
</script>
