
<!-- Modal -->
<div id="modal_registro" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div id = "alert_registro">

      </div>
      <form action="#" id = "form_registro">
        <div class="modal-header">
          <legend>Registro</legend>
          <div class="">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
        </div>
        <div class="modal-body">
            <div class="form-group">
              <label for="user_registro">Usuario:</label>
              <input type="text" class="form-control" id="user_registro" autofocus>
              <div id="user_registro_div_alert">
              </div>
            </div>
            <div class="form-group">
              <label for="email_registro">Email:</label>
              <input type="email" class="form-control" id="email_registro">
              <div id="email_registro_div_alert">
              </div>
            </div>
            <div class="form-group">
              <label for="password_registro">Contraseña:</label>
              <input type="password" class="form-control" id="password_registro">
              <div id="password_registro_div_alert">
              </div>
            </div>
            <div class="form-group">
              <label for="password_registro_2">Repita su contraseña:</label>
              <input type="password" class="form-control" id="password_registro_2">
              <div id="password_registro_2_div_alert">
              </div>
            </div>
            <div class="form-group">
              <div class="custom-control custom-checkbox">
                <input class="custom-control-input" id = "tyc" type="checkbox">
                <label class="custom-control-label" for="tyc">
                  Acepto terminos y condiciones
                </label>
                <div id="tyc_registro_div_alert">
                </div>
              </div>
            </div>
            <div class="form-group">
              <a href="#" data-toggle="modal"  class = "text-info" data-target="#modal_recuperar_password">
                Recuperar contraseña
              </a>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-outline-success" id = "iniciar_registro" >Registro</button>
        </div>
      </form>
    </div>

  </div>
</div>
<script type="text/javascript" src="view/js/registro/registro.js">
</script>
