{CONTENIDO}
<h1>Agregar categorias</h1>
<form action="?view=categoria&categoria=pagina_agregar" id="form_agregar_categoria" onsubmit="return false" method="POST">
  <div class="form-group col-sm-6">
    <label class="col-form-label" for="categoria_agregar_categoria">
      Categoria
    </label>
    <input type="text" class="form-control" name="categoria" id="categoria_agregar_categoria" autofocus placeholder="Nueva categoria">
    <div id="categoria_agregar_categoria_div_alert">
    </div>
  </div>
  <div class="form-group col-sm-6">
    <label class="col-form-label" for="descripcion_agregar_categoria">
      Descripcion
    </label>
    <textarea class="form-control" id="descripcion_agregar_categoria" name = "descripcion" rows="3" placeholder="Descripcion"></textarea>
    <div id="descripcion_agregar_categoria_div_alert">
    </div>
  </div>
  <div class="">
    <button type="button" class="btn btn-outline-success" id="iniciar_agregar_categoria">
      Aceptar
    </button>
  </div>
</form>
<script type="text/javascript" src="view/js/categoria/agregar_categoria.js">
</script>
