{CONTENIDO}
<h1>Editar categoria</h1>
<form action="?view=categoria&categoria=pagina_editar&id_categoria={ID_CATEGORIA}" id="form_editar_categoria" onsubmit="return false" method="POST">
  <div class="form-group col-sm-6">
    <label class="col-form-label" for="categoria_editar_categoria">
      Categoria
    </label>
    <input type="text" class="form-control" id="categoria_editar_categoria" name = "categoria" autofocus placeholder="Nueva categoria" value ="{CATEGORIA}">
    <div id="categoria_editar_categoria_div_alert">
    </div>
  </div>
  <div class="form-group col-sm-6">
    <label class="col-form-label" for="descripcion_editar_categoria">
      Descripcion
    </label>
    <textarea class="form-control" id="descripcion_editar_categoria" name = "descripcion" rows="3" placeholder="Descripcion">{DESCRIPCION}</textarea>
    <div id="descripcion_editar_categoria_div_alert">
    </div>
  </div>
  <div class="">
    <button type="button" class="btn btn-outline-success" id="iniciar_editar_categoria">
      Actualizar
    </button>
  </div>
</form>
<script type="text/javascript" src="view/js/categoria/editar_categoria.js">
</script>
